.Layout-container {
  background-color: #282c34;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto minmax(0, 1fr);
  color: white;
  overflow: hidden;
  height: 100vh;
}

.Layout-content {
  flex-grow: 1;
  height: 100%;
  overflow: auto;
}
