.Menu {
  width: 100%;
  background: none;
  height: 100%;
  background-size: cover;
  background-position-x: center;
  padding: 20px;
  padding-bottom: 0;
  top: 0;
  background-color: rgb(40, 44, 52);
  z-index: 5;
}

.out-btn{
  background-color: transparent;
  border: 0;
  color: white;
  font-weight: bold;
  transform: translateY(1px);
  padding-right: 10px;
}

.logout{
  display: flex;
  flex-direction: row;
  transform: translateY(-20px);
  padding: 10px;
  padding-right: 10px;
}

.affiche-username{
  padding: 20px
}

.container-interm {
  display: flex;
  flex-direction: row;
  width: 100%;
  border-bottom: 1px solid rgb(146, 146, 146);
  padding-bottom: 60px;
  position: relative;
}

.Tendance {
  font-family: 'Roboto', Arial, sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
  justify-content: left;
  display: flex;
  position: absolute;
  left: 20px;
}

.btn1:hover {
  color: rgb(181, 113, 114);
}

.btn-menu {
  align-items: flex;
  display: flex;
  flex-direction: row;
  margin-left: 30px;
  transform: translateY(7px);
}

.home {
  color: white;
  text-decoration: none;
}

.home:hover {
  color: rgb(181, 113, 114);
}

.btn1 {
  list-style: none;
  display: inline-block;
  padding: 0 20px 20px 20px;
  white-space: nowrap;
}

.logo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.Search {
  align-items: flex;
  display: flex;
  flex-direction: row;
  position: absolute;
  right: 20px;
}

.avatar {
  width: 40px;
  height: 40px;
  border: 1px solid white;
  border-radius: 50%;
}

.search-bar {
  margin: 0;
  width: 250px;
  height: 40px;
  background-color: rgb(75, 82, 97);
  border-radius: 8px;
  padding: 0 20px 0 20px;
  border: 0;
  box-shadow: 3px 5px 3px rgba(0, 0, 0, 0.2);
  color: white;
}

#btn-connexion {
  font-family: 'Roboto', Arial, sans-serif;
  font-weight: bold;
  text-decoration: none;
  color: white;
  padding: 0 20px 0 30px;
  transform: translateY(8px);
  display: flex;
  white-space: nowrap;
}

#btn-connexion:hover {
  color: rgb(181, 113, 114);
}
